{% extends "biblioteca/base.html" %} {% load static %}

{% block title %}Prazo - ERDJM{% endblock %}

{% block content %}

    <section id="pag-prazos" class="conteudo-pag {% if request.resolver_match.url_name == 'prazos' %}ativo{% endif %}">
        <h2 class="titulo-prazo">Meus Prazos</h2>
        <p class="descricao-prazo">Acompanhe as datas de devolução e Renovação.</p>

        <div class="container-conteudo-branco-prazo">
            <div id="conteudo-dinamico-prazo">
                <p class="msg-vazia-prazo">Acompanhe aqui as datas de devolução e Renovação dos seus livros.
                </p>

            </div>
        </div>
    </section>

{% endblock %}
